<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>CopyText | Copy/Paste text accross multiple devices</title>
		<link href="./assets/style/bootstrap.min.css" rel="stylesheet" />
		<link href="./assets/style/style.css" rel="stylesheet" />
		<script src="/socket.io/socket.io.js"></script>
	</head>
	<body>
		<div
			class="container mt-5 text-center d-flex align-items-center justify-content-center"
			id="app"
		>
			<div class="content">
				<div class="mb-5">
					<h2>CopyText</h2>
				</div>
				<div class="text-center">
					<div v-if="getAllDevices().length > 0">
						<p class="mb-5 text-danger">
							<strong>Active Devices</strong>
						</p>
						<div class="row align-items-center justify-content-center">
							<div
								class="col-12 col-md-4 col-lg-4 mb-3 align-self-center"
								v-for="(device, key) in getAllDevices()"
								:key="key"
							>
								<div class="deviceInfo">
									<div id="deviceName" class="mb-3">
										<div class="mb-4">
											<span class="device-icon">
												<img src="./assets/images/laptop.svg" />
											</span>
										</div>
										<h5>{{ device.username }}</h5>
										<small>{{ device.platform }}</small>
									</div>
									<textarea
										id="content-to-copy"
										class="form-control mb-3"
										placeholder="Put the text to paste on other devices here"
										v-show="!clipboardApiAvailable()"
									>
									</textarea>
									<button
										id="pasteBtn"
										class="btn btn-dark"
										@click="handlePasteBtn(device.username)"
									>
										Copy to device
									</button>
								</div>
							</div>
						</div>
						<div class="mt-1" v-show="copiedContent !== ''">
							<hr />
							<strong>Copied Text:</strong>
							<textarea class="form-control mt-2" id="clipboard-content">
								{{ copiedContent }}
							</textarea
							>
						</div>
					</div>
					<div v-else>
						<p class="mb-4">Open CopyText on other devices to copy texts</p>
						<img src="./assets/images/loading.gif" width="50" />
					</div>
					<div class="mt-5">
						<hr />
						<div v-show="connectedDevice !== ''">
							<p>
								<span class="text-danger">You are known as </span>
								<span class="text-default">{{ connectedDevice }}</span>
							</p>
							<p>You can be discovered by everyone on this network</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="./scripts/vue.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js"></script>
		<script src="./scripts/index.js" type="module"></script>
	</body>
</html>
