<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>CopyText | Copy/Paste text accross multiple devices</title>
		<link href="./assets/style/bootstrap.min.css" rel="stylesheet" />
		<link href="./assets/style/style.css" rel="stylesheet" />
		<script src="/socket.io/socket.io.js"></script>
	</head>
	<body>
		<div class="header">
			<ul class="nav align-items-center justify-content-end">
				<!--<li class="nav-item">
					<a class="nav-link" href="#" target="_blank">
						<img src="./assets/images/moon.png" alt="copytext-moon-icon" width="30" />
					</a>
				</li>-->
				<li class="nav-item">
					<a class="nav-link" href="#" target="_blank">
						<img
							src="./assets/images/twitter.png"
							alt="copytext-twitter-icon"
							width="30"
						/>
					</a>
				</li>
				<li class="nav-item">
					<a
						class="nav-link"
						href="https://github.com/thatshycoder/CopyText"
						target="_blank"
					>
						<img
							src="./assets/images/github.png"
							alt="copytext-github-icon"
							width="30"
						/>
					</a>
				</li>
			</ul>
		</div>
		<div
			class="container text-center d-flex align-items-center justify-content-center"
			id="app"
		>
			<div class="content">
				<div class="app-title">
					<img
						src="./assets/images/copytext-logo.png"
						alt="copytext-logo"
						width="260"
					/>
				</div>
				<div class="text-center">
					<div v-if="getAllDevices().length > 0">
						<textarea
							id="content-to-copy"
							class="form-control mb-5"
							placeholder="Put the text to share with other devices here"
							v-show="!clipboardApiAvailable()"
							rows="5"
						>
						</textarea>
						<p class="mb-2">
							<strong>Active Devices</strong>
						</p>
						<div class="row align-items-center justify-content-center">
							<div
								:class="getDevicesColClasses()"
								v-for="(device, key) in getAllDevices()"
								:key="key"
							>
								<div class="deviceInfo mt-4">
									<div class="device-icon">
										<img
											src="./assets/images/laptop.png"
											alt="copytext-laptop-icon"
											width="120"
										/>
									</div>
									<h5 class="mt-2">{{ device.username }}</h5>
									<!--<small>{{ device.platform }}</small>-->
								</div>
								<button
									id="pasteBtn"
									class="btn btn-dark"
									@click="handlePasteBtn(device.username)"
								>
									Paste Text
								</button>
							</div>
						</div>
						<div class="mt-5" v-show="copiedContent !== ''">
							<strong class="text-brand">Texts From Other Devices</strong>
							<textarea
								class="form-control mt-2"
								id="clipboard-content"
								readonly
								onfocus="this.select();"
								rows="5"
							>
									{{ copiedContent }}
								</textarea
							>
						</div>
					</div>
					<div v-else>
						<p class="h4 mb-4">Open CopyText on other devices to share texts</p>
						<img src="./assets/images/loading.gif" width="100" />
					</div>
					<div class="footer">
						<div v-show="connectedDevice !== ''">
							<p>
								<span class="text-default">You are known as </span>
								<span class="text-danger">{{ connectedDevice }}</span>
							</p>
							<p>You can be discovered by everyone on this network</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="./scripts/vue.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js"></script>
		<script src="./scripts/index.js" type="module"></script>
	</body>
</html>
