@font-face {
	font-family: "Martel Sans";
	src: url("../fonts//MartelSans-Regular.ttf");
}

body {
	background-color: #fff;
	font-family: "Martel Sans", sans-serif;
}

.header {
	padding: 40px;
}

.nav-link img:hover {
	opacity: 0.8;
}

.app-title {
	margin-bottom: 100px;
}

.text-brand {
	color: #6802b8;
}

.text-danger {
	color: #ff5722 !important;
}

#text-to-send {
	padding: 20px;
	box-shadow: 6px 7px 0px 0px #d7d7d7;
}

#clipboard-content {
	background: #eaeaea;
	padding: 20px;
	box-shadow: 6px 7px 0px 0px #d7d7d7;
}

#pasteBtn {
	padding: 12px 30px;
	border-radius: 2rem;
	margin-top: 8px;
	font-weight: bold;
	box-shadow: 1px 2px 14px 2px #bababa;
}

#pasteBtn:hover {
	border: none;
}

#pasteBtn:focus {
	background: #2a323a;
	border: 1px solid white;
}

#clipboard-copy-btn {
	position: relative;
	top: 33px;
	padding: 3px 7px;
	font-size: 15px;
}

.footer {
	margin-top: 100px;
	padding-bottom: 50px;
}
