@font-face {
	font-family: "Doppio One";
	src: url("../fonts/DoppioOne-Regular.ttf");
}
@font-face {
	font-family: "Martel Sans";
	src: url("../fonts//MartelSans-Regular.ttf");
}

body {
	background-color: #fff;
	font-family: "Martel Sans", sans-serif;
}
.header {
	padding: 40px;
}

.app-title {
	margin-bottom: 100px;
}

.text-danger {
	color: #ff5722 !important;
}

#content-to-copy {
	padding: 20px;
	box-shadow: 6px 7px 0px 0px #d7d7d7;
}

#clipboard-content {
	background: #eaeaea;
	padding: 20px;
	box-shadow: 6px 7px 0px 0px #d7d7d7;
}

#pasteBtn {
	padding: 12px 30px;
	border-radius: 2rem;
	margin-top: 8px;
	font-weight: bold;
	box-shadow: 1px 2px 14px 2px #bababa;
}

.footer {
	margin-top: 100px;
	padding-bottom: 50px;
}
